#h21{
			padding:20px;
			position:absolute;
			top:00px;
			right:600px;
			text-align:center;
			text-shadow:10px 6px 44px;
			font-size:40px;
		}
		#php{
					font-size: 24px;
                    margin-bottom: 25px;
                    border: none;
					 width: 100%;
					 height:100%;
					float: right;
					background: #969996;
				
					text-shadow:10px 6px 20px;
		}
			#post{
					font-size: 34px;
                    
                    border: none;
					 width: 100%;
					 top:00px
					float: right;
					background: #969996;
					text-shadow:10px 6px 20px;
			}
					a:hover{
	       color:green;
			font:ariel;
			text-shadow:10px 6px 44px;
			font-size:50px;
		}