a{
	text-decoration:none;
	font-size:25;
	color:white;

}

#sendmsg{
	background:green;
	font-size:30px;
}
#sendmsg:hover{
	background:red;
	color:white;
}
body{
	background:#555;
}
img{
	border-radius:40%;
	
}
#msg{
	font-size:30px;
}